{% set resetUrl = url('activate', {'t': activationToken}) %}

<h1>Passwort zurücksetzen</h1>

<p>
    <a href="{{ resetUrl }}">Um dein Passwort zurückzusetzen, klick hier.</a>
</p>

<p>
    Oder kopiere diesen Link in deinen Browser: {{ resetUrl }}
</p>
